/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */


@import "bootstrap/scss/bootstrap";

.navbar{ 
    background-color: rgb(0, 129, 11);   
}/*barra de navegação*/ 
.container{ 
    text-align: center;
}
.jumbotron{
    background-image: asset-url('cover_image.png');
    background-size: cover;
    height: 300px;
    border-radius: 30px;
}/*imagem de fundo da pag principal*/
#logo{
    float:left;
    font-size:1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover{
    color: #0084ff;
    text-decoration: none;
}

.jumbotron h1, h2{
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

.btn-xlarge{
    background-color:rgb(0, 129, 11) !important;
    border-color:#fff !important;
}

.btn-xlarge:hover{
    color:#fff !important;
    text-decoration: none !important;
}

.description{
    margin-top: 0;
}/*margem da descrição*/

.well a{
    color: rgb(0, 129, 11) !important;
}/*Link de receita */

.mb-1 a{
    color: rgb(0, 129, 11) !important;
}/*Link do rodape*/ 