<footer class="text-muted py-5 footer-pos">
  <div class="container">
    <p class="float-end mb-1 ">
      <a href="#">Back to top</a>
    </p>
    <p>Created by: Igor Medeiros</p>
  </div>
</footer>